:root {
  --black: #000;
  --dark: #333;
  --midgrey: #555;
  --disabled: #aaa;
  --lightergrey: #c1c1c1;
  --mercury: #e1e1e1;
  --green: green;
  --lightgreen: lightgreen;
}

.App {
  margin: 1rem;
  text-align: center;
}

h1 {
  color: var(--dark);
  font-size: 1.2rem;
}

.stepper {
  margin-top: 1rem;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul li {
  width: 190px;
}

button {
  display: inline-block;
  margin: 0;
  padding: 8px;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.btn-step {
  width: 40px;
  height: 40px;
  background-color: var(--disabled);
  color: var(--mercury);
  border: 1px solid var(--disabled);
  border-radius: 50%;
}

.btn-step.active,
.btn-step.active:hover,
.btn-step.active:focus {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: #fff;
}

.btn-step span {
  font-size: 1rem;
  text-align: center;
}

.bar {
  display: inline-block;
  width: 150px;
  height: 8px;
  background-color: var(--disabled);
  border: 1px solid var(--mercury);
}

.bar.active,
.bar.active:hover,
.bar.active:focus {
  background-color: var(--green);
  border: 1px solid var(--green);
}

.label {
  background-color: transparent;
  color: var(--lightergrey);
  font-size: 1rem;
  text-align: left;
}

.label.active,
.label.active:hover,
.label.active:focus {
  background-color: transparent;
  color: var(--dark);
}
